@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: grey;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container {
    max-width: 700px;
    min-height: 733px;
    background-color: #ffffff;
    margin-top: 303px;
    margin-left: 293px;
    padding: 8px;
}
button {
    border: 1px solid black;
    background-color: white;
    font-size: 16px;
    padding: 6px;
}
button:hover {
    cursor: pointer;
    background-color: darkgrey;
}
.header {
    display: flex;
    justify-content: space-between;
}
.main {
    max-height: 700px;
    display: flex;
    flex-direction: row;
}
.users {
    border: 1px solid black;
    margin-top: 7px;
    margin-bottom: 8px;
    margin-left: 20px;
}

.messages {
    max-height: 600px;
    min-width: 400px;
    border: 1px solid black;
    margin-top: 7px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px;
}

.list_container {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 500px;
}
.users_list {
    margin-top: 20px;
}
li {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 16px;
    list-style: none;
    padding-top: 5px;
}
li:hover {
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
}
.i {
    display: inline-flex;
    flex-direction: column;
    padding: 8px;
    background-color: #e5e5e5;
    margin: 8px;
    align-self: flex-end;
}
.it {
    display: inline-flex;
    flex-direction: column;
    padding-top: 8px;
    background-color: #e5e5e5;
    align-self: flex-start;
    margin-top: 8px;
}
p {
    font-size: 16px;
    line-height: 18.75px;
    text-align: left;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
    white-space: pre-line;
}
.time {
    font-size: 14px;
    font-style: italic;
    line-height: 16.41px;
    font-weight: 300;
    text-align: right;
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
}

input {
    height: 32px;
    width: 100%;
    border: 1px solid black;
    margin-right: 8px;
}
.form_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input::placeholder {
    font-size: 16px;
    padding-left: 6px;
    padding-top: 7px;
    line-height: 18.75px;
    color: #696969;
}
.add_message,
.add_name {
    width: 29px;
    height: 32px;
    padding: 0;
}
.popup-overlay_settings,
.popup-overlay_authorization,
.popup-overlay_confirmation,
.popup-overlay_users {
    position: fixed;
    top: 0;
    left: 0;
    width: 700px;
    height: 733px;
    padding: 8px;
    margin-top: 303px;
    margin-left: 293px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 273px;
    height: 319px;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 14px 14px 0 14px;
}
.title_settings,
.title_authorization,
.title_confirmation {
    margin-left: 0;
}
.close_cross_settings,
.close_cross_authorization,
.close_cross_confirmation,
.close_cross_users {
    transform: rotate(45deg);
    border: none;
    font-size: 24px;
    opacity: 45%;
}
.close_cross:hover {
    background-color: #ffffff;
    opacity: 100%;
}
.description {
    padding: 0 14px 14px 14px;
}
form {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.mistake {
    color: red;
    font-size: 14px;
    margin-top: 2px;
}
.authorization_form {
    display: flex;
    flex-direction: column;
}
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.lastMessage {
    color: red;
    font-size: 14px;
}

.emoji {
    height: 30px;
    width: 190px;

    text-align: center;
}
.emoji button {
    background: white;
    border: none;
}
sup {
    font-size: 16px;
    color: red;
}
